<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ConsoleApplication18.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <appSettings>
<add key="treinamento" value="C:\Treinamento\" />
    <add key="saidaProcessado" value="C:\clientes\Saida" />
    <add key="Validacao" value="eB3aKICZZvDLwHv/fPyLPQ==" />
    <add key="agrupamento" value="C:\agrupamento\" />
    <add key="ModelosClassificador" value="C:\ModelosClassificacao" />
    <add key="Score" value="400" />
    <add key="url" value="http://35.192.175.82/ClassificacaoDocumentos/" />
    <add key="caminhoTiff" value="C:\clientes\Documentos\" />
    <add key="myPythonApp" value="C:\PythonScript\sum.py" />
    <add key="saidaPdf" value="C:\saidaPDF\auth" />
    <add key="caminhoModelo" value="C:\ClassificacaoDocumentos\Modelo\" />
    <add key="crop" value="C:\clientes\Canhotos\Crop\" />
    <add key="ftpUrl" value="ftp://54.233.110.24/Tecnoset/Canhotos/Entrada" />
    <add key="usuarioFtp" value="tecnoset" />
    <add key="senhaFtp" value="tecnoset" />
    <add key="idiomas" value="C:\TF\GdPicture\Idiomas\" />
    <add key="Documento" value="C:\ClassificacaoDocumentos\Documentos\" />
    <add key="DocumentoView" value="C:\ClassificacaoDocumentos\Documentos\View\" />
    <add key="DocumentoImages" value="C:\TF\Content\Imagem" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Auth" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.27.1.0" newVersion="1.27.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Auth.PlatformServices" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.27.1.0" newVersion="1.27.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <add name="PocOcrEntities" connectionString="metadata=res://*/Entidade.csdl|res://*/Entidade.ssdl|res://*/Entidade.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sqlexpress;initial catalog=PocOcrDes; User Id=sa; Password=k0t0via1.;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Entidade" connectionString="metadata=res://*/PocOcrEntities.csdl|res://*/PocOcrEntities.ssdl|res://*/PocOcrEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=TECFY-TF\GOOGLECLOUDSERVE;initial catalog=TFHomolog;user id=sa;password=k0t0via1.;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <applicationSettings>
    <ConsoleApplication18.Properties.Settings>
      <setting name="ConsoleApplication18_wsIntegracao_WSIntegracao" serializeAs="String">
        <value>https://www.clouddocs.com.br/homolog/wsIntegracao.asmx</value>
      </setting>
    </ConsoleApplication18.Properties.Settings>
  </applicationSettings>

</configuration>
